<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="BNafilio">
      
		<a id="afilio_tracker" class="clickTagArea" target="_blank" href="http://www.estacio.br"></a>
    </div>
    <script type="text/javascript">
        document.getElementById("BNafilio").addEventListener("click", function(){
            var url = document.getElementById("afilio_tracker").getAttribute("href")
            window.open(url);
        });
    </script>
    
</body>
</html>
